.profileContainer {
    position: relative;
    background-image:url('../background.png');
    /* Full height */
    width: 100vw;
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
/* .logo{
    position:relative;
    width: 180px;
} */
.textContainer {
    background: white;
    /* position: absolute; */
    /* top: 30%;
    left: 30%; */
    /* margin-right: -50%*/;
    /* transform: translate(-50%, -50%); */
    padding: 2%;
    border-radius: 1rem;
    margin: 5%;
}
.profilePic{
    width:150px;
    height:150px;
    object-fit:cover;
}
.Row {
    display: table;
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column {
    display: table-cell;
    position:relative;
    
}
input{
    margin-right:10px;
}
.smallp{
    margin:0%;
    color: #A52A2A;
    font-size:13px;
    font-weight:bold;
    
}