.Login-component {
    position: relative;
    background-image:url('../background.png');
    /* Full height */
    width: 100vw;
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.logo { 
    position:relative;
    width: 180px;
}
.whiteBox {
    margin: 0;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    border-radius: 0.5rem;
}

h1 {
    text-align: center;
}

.form-control {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.login-button{
    width: 7.5rem;
    height: 2rem;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border-color: #354ea0;
    border-radius: 0.5rem;
}

login-button button:hover {
    background: #354ea0;
    color: #fff;
    border: none;
}

h6 {
    text-align: center;
}