* {
    box-sizing: border-box;
}

p {
    margin:0%;
    color: #A52A2A;
    font-size:12px;
    font-weight:bold;

}
.Register-component {
    position: relative;
    background-image:url('../background.png');
    /* Full height */
    width: 100vw;
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.form {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

.whiteBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30rem;
    margin-left: auto;
    margin-right:auto;
    padding-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
    box-shadow: 0 15px 25px rgba(225, 60, 93, 0.7);
    border-radius: 0.5rem;
}

input {
    width: 100%;
    margin: auto;
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: solid;
    border-width: 1px;
    border-color: rgba(207, 31, 57, 1);
}

.register-buttons button {
    width: 50%;
    padding: .25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6.75rem;
    margin-bottom: 0.5rem;
    border-color: #354ea0;
    border-radius: 0.5rem;
    color: #000;
    background: #fff;
    font-size: smaller;
}
/*button hover effect*/
.register-buttons button:hover {
    background: #354ea0;
    color: #fff;
    border: none;
}
