.searchContainer{
    display: flex;
    position: absolute;
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(206, 204, 204);
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.dropdown{
    width:10rem;
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
    padding:10px;
}
.dropdown.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 0.5rem;

  }
  
.inputSearch{
    position: relative;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }